:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
}

#root {
  min-height: 100vh;
}
